p {

    background-color: gray;
    margin-left: 25%;
    margin-right: 25%;
    
}


.indexlist {
    width: 20%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

img {
    display: block;
    text-align: center;
    border: 15px red;
    width: 25%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;

}

body {
background-image: linear-gradient(gray, lightblue);


}
